* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
}
.appcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.App::after {
  content: "";
  background: url("./logo.jpg");
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.infoDates {
  display: flex;
  font-size: x-large;
  font-weight: 400;
  width: 60%;
  text-align: center;
  padding: 0.5em;
}
.info {
  width: 60%;
  text-align: center;
}
.content {
  background: rgb(244, 244, 244);
  width: 50vh;
  border-radius: 3px;
  margin: 0.5em;
}
.containerform {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MuiButton-root {
  margin: 0.5em !important;
  width: 90%;
}
.MuiButton-label {
  font-size: 16px !important;
  font-weight: 600 !important;
}
.closeButton {
  border-radius: 3px;
  cursor: pointer;
  border: none;
  padding: 1vh;
  width: 10%;
  margin: 1vw;
  background-color: rgba(0, 82, 153, 0.5);
}
.closeButton:hover {
  background-color: rgba(0, 82, 153, 0.7);
}

.buttonGreen {
  background-color: rgba(106, 213, 7, 0.6) !important;
}
.buttonGreen:hover {
  background-color: rgba(92, 185, 6, 0.6) !important;
}
.formbutton {
  margin: 0.5em;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-size: 16px;
  background-color: rgba(0, 82, 153, 0.5);
}
.formbutton:hover {
  background-color: rgba(0, 82, 153, 0.7);
}

.default {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.listcontent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formlabel {
  font-size: large;
}
.ol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formselect {
  cursor: pointer;
  padding: 0.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 3px;
  border-color: rgba(0, 0, 0, 0.2);
  outline: none;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MuiPaper-root {
  width: 50% !important;
}
.inputField {
  width: 50% !important;
}
.formdropdown {
  width: 50%;
  padding: 0.5em;
  border: none;
}
.formselectoption {
  font-size: large;
}
@media only screen and (max-width: 600px) {
  .olContent {
    height: 40vh !important;
    overflow-y: scroll !important;
  }

  .header {
    font-size: x-large;
  }
  .info {
    font-size: small;
  }
  .infoDates {
    font-size: small !important;
    font-weight: 600 !important;
  }
  .content {
    width: 70% !important;
  }
  .MuiPaper-root {
    width: 90% !important;
  }
}
@media only screen and (max-width: 400px) {
  .modalDate {
    text-align: center;
  }
  .header {
    font-size: x-large;
    text-align: center;
  }

  .date {
    font-size: small;
  }
}
@media only screen and (max-width: 300px) {
  .MuiPaper-root {
    width: 100% !important;
  }
}
